//- company info

section.company-info 

    .info 

        .icon
            img(src="./assets/img/company-icon.png" alt="Letzrent icon")

        .description 

            h1: a(href="https://app.pepcorns.com" target="_blank").a-hover Letzrent
            p.address Address : Mumbai, Maharashtra, India

            .contact
                span Email : abc@de.fg
                span &nbsp;&nbsp;|&nbsp;&nbsp;
                span Website : https://letzrent.com
                span &nbsp;&nbsp;|&nbsp;&nbsp; 
                span PAN/TAN : AAJCR3294F

            p.info Online search, compare & booking platform for self-drive cars, charter flights, living space & more that rewards users

        .actions
            button.button-no(type="button") <i class="fa-solid fa-share"></i> Share 
            button.button-no(type="button") <i class="fa-solid fa-user-plus"></i> Follow

    .tags 
        span GEN Z FOUNDER
        span MOBILITY
        span E-COMMERCE