//- header element

header

    .left
        button(type="button") Dashboard
        button(type="button") Login
        button(type="button") Website Home

    .right
        button.user-profile.button-no(type="button"): img(src="./assets/img/user-profile-pic-holder.svg", alt="Profile")

