//- header element

header

    .content

        .left
            button(type="button") Dashboard
            button(type="button") Login
            button(type="button" onclick="window.open('https://pepcorns.com', '_blank');") Company Site
        .right
            span Profile
            button.user-profile.button-no(type="button" onclick="window.open('https://www.animaxneil.com', '_blank');")
                img(src="./assets/img/user-profile-pic-holder.svg", alt="Profile")

