//- header element

header

    .content

        .left
            button(type="button") Dashboard
            button(type="button") Login
            button(type="button") Return Home

        .right
            span Profile
            button.user-profile.button-no(type="button")
                img(src="./assets/img/user-profile-pic-holder.svg", alt="Profile")

