//- Pepcorns Letzrent

doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/css/style.css")
        script(src="https://kit.fontawesome.com/1fc226965f.js" crossorigin="anonymous")

    body 

        include ./header.pug

        main 

            include ./company-info.pug

            .main-flex-container

                .main-flex-item-cards

                    include ./action-cards.pug

                .main-flex-item-others

                    include ./intro-video.pug

                    include ./tabs-selection.pug

        script(src="./assets/js/script.js") 
    