//- Pepcorns Letzrent

doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/css/style.css")

    body 
        
        #page-area

            include ./header.pug

            include ./company-info.pug

            include ./action-cards.pug

            include ./intro-video.pug

            include ./tabs-selection.pug

        script(src="./assets/js/script.js") 
    