//- intro video

section.intro-video

    p.help Unable to view video ? #[a(href="https://www.youtube.com/watch?v=biGcDeB2PbQ") Click here]
    
    .video.youtube

        img(src="./assets/img/blank16by9.png", alt="Intro video")

        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/biGcDeB2PbQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    .actions

        a(href="https://www.instagram.com/letzrent.official/" target="_blank") Mumbai,Maharashtra
        a(href="https://letzrent.com", target="_blank") https://letzrent.com

        .social 
            a.youtube.font-icon(href="https://www.youtube.com/watch?v=biGcDeB2PbQ" target="_blank") Y
            a.facebook.font-icon(href="https://www.facebook.com/LetzRent.official/" target="_blank") F
            a.instagram.font-icon(href="https://www.youtube.com/watch?v=biGcDeB2PbQ" target="_blank") I