//- intro video

section.intro-video

    .board

        p.help Unable to view video ? #[a(href="https://www.youtube.com/watch?v=biGcDeB2PbQ") Click here]
        
        .video.youtube
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/biGcDeB2PbQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        .actions

            a(href="https://www.instagram.com/letzrent.official/" target="_blank") <i class="fa-solid fa-location-dot"></i> Mumbai, Maharashtra
            a(href="https://letzrent.com" target="_blank") <i class="fa-brands fa-chrome"></i> https://letzrent.com

            .social 
                a.youtube.font-icon(href="https://www.youtube.com/watch?v=biGcDeB2PbQ" target="_blank") <i class="fa-brands fa-youtube"></i>
                a.facebook.font-icon(href="https://www.facebook.com/LetzRent.official/" target="_blank") <i class="fa-brands fa-square-facebook"></i>
                a.instagram.font-icon(href="https://www.youtube.com/watch?v=biGcDeB2PbQ" target="_blank") <i class="fa-brands fa-square-instagram"></i>