//- tabs selection

section.tabs-selection 

    button(type="button") Pitch
    button(type="button") Details
    button(type="button") Updates
    button(type="button") Comments


section.tab-content.pitch

    .content 

        .r1
            p.name Deck
            button(type="button") Download Pitch Deck
            hr

        .r2 
            p.name 10 Seconds Pitch
            p.info Online search, compare & booking platform for self-drive cars, charter flights, living space & more that rewards users.
            hr

        .r3 
            p.name Deck Info
            p.info LetzRent
            hr

        .r4 
            p.name Highlights
            ul 
                li Running profitable pilot in Bengaluru.
                li 20k+ registered users, 4.2 app rating and 10k+ social media following.
                li Company is projecting 100cr+ transaction volume in 5 years.
                li Founder with the marketing expertise of 17+ years in Reliance, Naaptol, Tv9 and Zee and more.
                li GenZ CTO and co-founder.
                li Expansion is easy and the untapped customer base is huge.
                li Been in news articles, already making buzz.
            hr

        .r5 
            p.name Traction 
            img(src="./assets/img/traction-img.png" alt="INR 60 Lakh+ Transaction volume")
            hr

        .r6 
            p.name Smart Way To Rent
            img(src="./assets/img/rent-cycle-img.png" alt="Rent Cycle")
            hr

        .r7 
            p.name Customers Want Low Prices
            p.info To get low prices 85% of the consumers check at least 2 data points (Source: BCG Consumer Trends). In various sectors information centred buying has been made more efficient by companies like MMT for Travel, Policy bazaar for Insurance, Myntra or Shopperstop for Lifestyle products. However for rental products, there is no one & to fill this need and make the process efficient we launched LetzRent, hoping to have a first-mover advantage and dominate the market in the coming future.
            img(src="./assets/img/ratings-and-reviews.png" alt="User Reviews")
            hr
        
        .r8 
            p.name Single KYC
            p.info Renting is a KYC dependent process, every time a customer books a service from a different service provider he/she will have to get a new KYC done. With Letzrent, the hassle of multiple KYC gets removed and with a single KYC, customers can rent from multiple brands.
            hr

        .r9 
            p.name Vast Selection
            p.info Being an aggregator Letzrent offers more options than category leaders.
            img(src="./assets/img/selection-mobile-views.png" alt="Mobile app view")
            hr

        .r10 
            p.name Why Renting?
            ol 
                li Demographic Twist: Commitment phobic millennials prefer an asset lite life with a bias toward renting rather than buying.
                li Flexibility: Renting allows people to upgrade or change assets easily.
                li Convenience: With the rental customers dispense with the headache of down payment, maintenance, insurance etc.
            img(src="./assets/img/most-prefered-renting.png" alt="Maruti is the most prefered car for renting")
            hr

        .r11 
            p.name Feedback: People Love Us
            img(src="./assets/img/feedback-ratings.png" alt="")
            hr

        .r12 
            p.name Future and growth
            img(src="./assets/img/predicted-growth.png" alt="")
            hr

        .r13 
            p.name Core Team
            img(src="./assets/img/founders-table.png" alt="")
            hr

        .r14 
            p.name Documents for Investors
            ul
                li: a(href="http://drive.google.com/file/d/1clHQGD__nkbsA-cLz3A6_tABUuk5rl3w/view" target="_blank") Due Diligence Report
                li: a(href="http://drive.google.com/file/d/1i02nUH-27EhiROtNlvXOfkPP7iTfwjpw/view?usp=sharing" target="_blank") Certificate of Incorporation
            hr

